*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
html, body{
    height: 100%;
    /* perspective: 800px; */
    width: 100%;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
#cursor-blur{
    height: 500px;
    width: 500px;
    background-color: #96c11e30;
    border-radius: 50%;
    position: fixed;
    filter: blur(40px);
    z-index: 9;
}
#nav{
    height: 130px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 130px;
    gap: 60px;
    position: fixed;
    justify-content: flex-start;
    z-index: 101;
}
#nav img{
    height: 75px;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.373);
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    width: 85%;
    font-size: 140px;
    font-weight: 900;
    line-height: 1;
    position: relative;
}
#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    width: 85%;
    color: black;
    top: -4.5px;
    left: 93px;
    -webkit-text-stroke: 2px #95C11E;
    z-index: -1;
    

}
#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p{
    font-size: 22px;
    font-weight: 400;
    width: 45%;
}
#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}
#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroller h4{
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    /* font-family: golroy; */
    margin-right: 10px;
    transition: all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 2px #95C11E;
}
#scroller h4:hover{
    color: #95C11E;
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#about-us{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    padding: 0 50px;
    margin-top: 90px;
    align-items: center;
    position: relative;
    z-index: 11;
    justify-content: space-between;
}
#about-us img{
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
}
#about-us-in{
    width: 40%;
    text-align: center;
}
#about-us-in h3{
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 18px;
}
#about-us-in p{
    font-size: 21px;
    line-height: 26px;
}
#cards-container{
    /* background-color: red; */
    height:900px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 100;
}
.card{
    height: 670px;
    width: 25%;
    margin-top: 80px;
    /* background-color: blue; */
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}
#card1{
    background-image: url(https://raw.githubusercontent.com/saarthack/sidcup-family-golf/refs/heads/main/Assests/card1.avif);
}
#card2{
    background-image: url(https://raw.githubusercontent.com/saarthack/sidcup-family-golf/refs/heads/main/Assests/card2.webp);
}
#card3{
    background-image: url(https://raw.githubusercontent.com/saarthack/sidcup-family-golf/refs/heads/main/Assests/card3.avif)
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    border-radius: 15px;
    padding: 28px;
    padding-top: 160px;
    opacity: 0;
    transition: all ease 0.6s;
}
.overlay h4{
    color: #000;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
}
.overlay p{
    color: #000;
    font-size: 23px;
    padding-top: 18px;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0,20deg );
}
#green-div{
    height: 43vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    padding: 14px;
    background: linear-gradient(to left bottom, #22A436, #ACE022);
}
#green-div h4{
    width: 40%;
    line-height: 50px;
    color: #000;
    font-size: 28px;
    font-weight: 950;
    text-align: center;
    text-transform: uppercase;
}
#green-div img{
    height: 100%;
    object-fit: cover;
    width: 14%;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
#page3>p{
    font-size: 35px;
    font-weight: 900;
    line-height: 55px;
    text-transform: uppercase;
    width: 64%;
    text-align: center;
}
#page3 img{
    position: absolute;
    height: 60px;
}
#page3 #colon1{
    left: 15%;
    top: 20%;
}
#page3 #colon2{
    bottom: 35%;
    right: 10%;
}

